// Body
$body-bg: #f8fafc;
$pagination-active-bg: #6c757d;
$pagination-border-color: #6c757d;
$pagination-color: #6c757d;
$pagination-hover-color: #6c757d;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
